# Entornos virtuales

venv/
env/
# Archivos de configuración de usuario
*.pyc
__pycache__/
*.pyo
*.pyd

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuraciones de IDEs
.vscode/
.idea/

# Archivos de base de datos local
*.sqlite3

# Archivos sensibles o temporales
*.log
*.pot
*.mo
*.bak
*.swp
*.tmp

# Migrations (opcional si las generas desde cero en producción)
**/migrations/
!*/migrations/__init__.py

# Entorno local
#.env
#.env.local
